{% extends "base.html" %}
{% block content %}
<h2>Add New Author</h2>
<form action="{{ url_for('add_author') }}" method="POST">
    <label for="name">Author Name</label>
    <input type="text" name="name" required>

    <label for="birth_date">Birthdate</label>
    <input type="date" name="birth_date" required>

    <label for="date_of_death">Date of Death</label>
    <input type="date" name="date_of_death">

    <button type="submit">Add Author</button>
</form>
<a href="{{ url_for('home') }}"><button type="button">HOME</button></a>
{% endblock %}